
html,
body {
    min-height: 100%;
    height: 100%;
}
.wrap {
    min-height: 100%;
    margin-bottom: -40px;
    padding-bottom: 40px;
}
.glyphicon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-eye-open:before {
    content: "\f06e";
}
.glyphicon-pencil:before {
    content: "\f040";
}
.glyphicon-trash:before {
    content: "\f1f8";
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.table th, .table td {
    vertical-align: middle;
}