#AuthUserFile /home/couponwo/devsite/.htpasswd
#AuthName "CWW Login"
#AuthType Basic
#Require valid-user

#php_value output_handler ob_gzhandler

ErrorDocument 404 /?homepage=1

<IfModule mod_rewrite.c>

RewriteEngine On

# Rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . index.php

</IfModule>